<div class="jumbotron text-center">
    <h1 style="color:white">Eventos</h1>
    <p style="color:white">{{ message }}</p>

    <div class="col-md-7 col-lg-offset-0">
        <h2 style="color:white">Lista de eventos creados por mi </h2>

        <table>
            <tr ng-repeat="x in events2">
                <td> <b>Nombre  </b>{{ x.name }}</td>
                <td><b>Descripción  </b>{{ x.description }}</td>
                <td><b>Fecha  </b>{{ x.date }}</td>
                <td><b>Duración  </b>{{ x.duration }}</td>
                <td><b>Lugar </b>{{ x.location }}</td>
                <td><button ng-click="deleteEvent(x.name);">Eliminar evento</button></td>
            </tr>
        </table>

    </div>
    <div class="col-md-7 col-lg-offset-7">
        <h2 style="color:white">Lista de donde estoy registrado</h2>

        <table>
            <tr ng-repeat="x in events3">
                <td> <b>Nombre  </b>{{ x.name }}</td>
                <td><b>Descripción  </b>{{ x.description }}</td>
                <td><b>Fecha  </b>{{ x.date }}</td>
                <td><b>Duración  </b>{{ x.duration }}</td>
                <td><b>Lugar </b>{{ x.location }}</td>
                <td><button ng-click="unsignupEvent(x.name);">Desregistrarse de este evento</button></td>
            </tr>
        </table>

    </div>



