<div class="jumbotron text-center">
    <h1 style="color:white">Eventos en el parque </h1>


    <div class="col-md-7">
        <h2 style="color:white">Lista de eventos </h2>

    </div>
    <div class="own_row"  style="width:27vw; height:70vh" >
        <h2 style="color:white">Nuevo evento en el parque </h2>
    <form name ="addForm" novalidate style="height:100%; width:100%;">
        <!-- Text Boxes and Other User Inputs. Note ng-model binds the values to Angular $scope -->
        <div class="form-group">
            <span class="badge">Rellena todos los campos</span>
            <br>

            <label for="name">Nombre del Evento </label>
            <input type="text" class="form-control" id="name" placeholder="Nombre..." ng-model="formData.name" required>
        </div>

        <div class="form-group">
            <label for="description">Descripción del evento</label>
            <input type="text" class="form-control" id="description" placeholder="Descripción..." ng-model="formData.description" required>
        </div>


        <div class="form-group">
            <label for="price">Precio de entrada (€)</label>
            <input type="number" class="form-control" id="price" placeholder="0" ng-model="formData.price" required>
        </div>
        <br>
        <button type="submit" class="btn btn-danger btn-block" ng-click="createSandpit()" ng-disabled="addForm.$invalid">Enviar</button>
    </form>
</div>
</div>



