<div class="jumbotron text-center">
    <h1 style="color:white">Eventos en el parque </h1>


    <div class="col-md-7">
        <h2 style="color:white">Lista de eventos </h2>

        <table>
            <tr ng-repeat="x in events">
                <td> <b>Nombre  </b>{{ x.name }}</td>
                <td><b>Creador  </b>{{ x.creator }}</td>
                <td><b>Descripción  </b>{{ x.description }}</td>
                <td><button ng-click="signupEvent(x.name);">Registrarse a evento</button></td>
                <td><button ng-click="unsignupEvent(x.name);">Desregistrarse de este evento</button></td>

            </tr>
        </table>



    </div>
    <div class="own_row"  style="width:27vw; height:70vh" >
        <h2 style="color:white">Nuevo evento en : </h2>
    <form name ="addEvent" novalidate style="height:100%; width:100%;">
        <!-- Text Boxes and Other User Inputs. Note ng-model binds the values to Angular $scope -->
        <div class="form-group">
            <span class="badge">Rellena todos los campos</span>
            <br>

            <label for="name">Nombre del Evento </label>
            <input type="text" class="form-control" id="name" placeholder="Nombre..." ng-model="eventData.name" required>
        </div>

        <div class="form-group">
            <label for="description">Descripción del evento</label>
            <input type="text" class="form-control" id="description" placeholder="Descripción..." ng-model="eventData.description" required>
        </div>


        <br>
        <button type="submit" class="btn btn-danger btn-block" ng-click="createEvent()" ng-disabled="addEvent.$invalid">Enviar</button>
        <button type="submit" class="btn btn-danger btn-block" ng-click="showEvents()">Ver eventos</button>

    </form>
</div>
</div>



