<br><br><br>


<div class="col-md-14 col-md-offset-7" style="
    margin-left: 0px;">
    <div class="chat-panel panel panel-default">
        <div class="panel-heading">
            <h3 style="text-align: center; background: gray; color: white; padding: 2%;margin-top: 0px;margin-bottom: 0px;">Lista de eventos creados por mi
            </h3>

        </div>
        <div class="panel-footer">
            <table style="width:100%">
                <tr>
                    <th type="text" style="text-align: center">Name<br>
                    </th>
                    <th type="text" style="text-align: center">Description<br>
                    </th>
                    <th type="text" style="text-align: center">Date<br>
                    </th>
                    <th type="text" style="text-align: center">Duration<br>
                    </th>
                    <th type="text" style="text-align: center">Location<br>
                    </th>
                    <th type="text"> Delete</th>
                </tr>
                <tr ng-repeat="x in events2">
                    <td type="text">{{ x.name }}</td>
                    <td type="text">{{ x.description }}</td>
                    <td type="text">{{ x.date }}</td>
                    <td type="text">{{ x.duration }}</td>
                    <td type="text">{{ x.location }}</td>
                    <td>
                        <button type="button" ng-click="deleteEvent(x.name);" class="button_cancel_modal">&#10008</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
    <div class="col-md-14 col-md-offset-0">
    <div class="chat-panel panel panel-default">
        <div class="panel-heading">

            <h3 style="text-align: center; background: gray; color: white; padding: 2%;margin-top: 0px;margin-bottom: 0px;">Eventos a los que estoy suscrito
            </h3>

        </div>
        <div class="panel-footer">
            <table style="width:100%">
                <tr>
                    <th type="text" style="text-align: center">Name<br>
                    </th>
                    <th type="text" style="text-align: center">Description<br>
                    </th>
                    <th type="text" style="text-align: center">Date<br>
                    </th>
                    <th type="text" style="text-align: center">Duration<br>
                    </th>
                    <th type="text" style="text-align: center">Location<br>
                    </th>
                    <th type="text">Unsuscribe</th>
                </tr>
                <tr ng-repeat="x in events3">
                    <td type="text">{{ x.name }}</td>
                    <td type="text">{{ x.description }}</td>
                    <td type="text">{{ x.date }}</td>
                    <td type="text">{{ x.duration }}</td>
                    <td type="text">{{ x.location }}</td>
                    <td>
                        <button type="button" ng-click="unsignupEvent(x.name);" class="button_cancel_modal"><span class="glyphicon glyphicon-log-out"></span></button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
