<div><br>

    <!-- Lista de usuarios -->
    <br><br>


    <div class="col-md-12 col-md-offset-4">
        <div class="chat-panel panel panel-default">
            <div class="panel-heading">

                <h3 style="text-align: center;">Lista de usuarios
                    <button  type="button" class="button_accept_modal" data-toggle="modal" data-target="#myModalAdd"><span class="glyphicon glyphicon-plus"></span></button>
                </h3>

            </div>
            <!-- Modal create user-->
            <div class="modal fade" id="myModalAdd" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <form name myForm>
                                <div class="form-group">
                                    <input type="text" class="form-control input-lg text-center"  placeholder="Inserta un nombre" ng-model="newUser.fullName" required>
                                    <br>
                                    <input type="email" class="form-control input-lg text-center"  placeholder="Correo electrónico" ng-model="newUser.email" required>
                                    <br>
                                    <input type="password" class="form-control input-lg text-center"  placeholder="Password" ng-model="newUser.password" required>

                                </div>
                                <button type="button" ng-click="createUser()" class="button_accept_modal" data-dismiss="modal" >Create</button>
                                <button type="button" class="button_cancel_modal" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></button>
                            </form>
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>

                </div>
            </div>
            <div class="panel-footer">
                <table style="width:100%">
                    <tr>
                        <th type="text">Edit</th>
                        <th type="text">Name</th>
                        <th type="text">Email</th>
                        <th type="text">Delete</th>
                    </tr>
                    <tr ng-repeat="user in users">

                        <td>
                            <button type="button" ng-click="takeUser(user)" class="button_warning_modal" data-toggle="modal" data-target="#myModalEdit"><span class="glyphicon glyphicon-pencil"></span></button>

                            <!-- Modal button edit-->
                            <div class="modal fade" id="myModalEdit" role="dialog">
                                <div class="modal-dialog">

                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Seguro que quieres editar este usuario?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" ng-click="selectUser()" class="button_accept_modal" data-dismiss="modal" ><span class="glyphicon glyphicon-ok"></span></button>
                                            <button type="button" class="button_cancel_modal" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></button>
                                        </div>
                                    </div>

                                </div>
                            </div>


                        </td>
                        <td type="text">{{ user.fullName }}</td>
                        <td type="text">{{ user.email }}</td>
                        <td>
                            <button type="button" ng-click="takeUser(user)" class="button_cancel_modal" data-toggle="modal" data-target="#myModalDelete">&#10008</button>

                            <!-- Modal button edit-->
                            <div class="modal fade" id="myModalDelete" role="dialog">
                                <div class="modal-dialog">

                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                            <p>¿Seguro que quieres eliminar este usuario?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" ng-click="deleteUser()" class="button_accept_modal" data-dismiss="modal" >Accept</button>
                                            <button type="button" class="button_cancel_modal" data-dismiss="modal">Cancel</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <!-- Crear y editar Usuarios -->
            <div class="col-md-7 col-md-offset-2">
                <div class="chat-panel panel panel-default">
                    <div class="panel-heading"><h3>{{header}}</h3></div>
                    <div class="panel-footer">
                        <input class="w3-input w3-border" type="text" ng-disabled="!edit" ng-model="newUser.fullName" placeholder="Nombre y apellidos">
                        <br>
                        <br>
                        <input class="w3-input w3-border" type="email" ng-disabled="!update || !edit" ng-model="newUser.email" placeholder="Email">
                        <br>
                        <br>
                        <input class="w3-input w3-border" type="password" ng-disabled="!edit" ng-model="newUser.password" placeholder="Contraseña">
                        <br>
                        <br>
                        <input class="w3-input w3-border" type="password" ng-disabled="!edit" ng-model="pass2" placeholder="Repite contraseña">
                        <br>
                        <br>
                        <button class="w3-btn-floating-large w3-teal" ng-disabled="error || incomplete" ng-hide="create" ng-click="createUser()">+</button>
                        <button class="w3-btn w3-teal" ng-hide="update" ng-disabled="error || incomplete" ng-click="editUser()">Actualizar</button>

                    </div>
                </div>
            </div>
            <!-- FIN/Crear y editar Usuarios -->
</div>





