<div class="jumbotron text-center" style="height:100%; width:100%; margin-right:30px">
    <br>
    <h2 style="color:white">¡Bienvenid@ a Sandpit!</h2>
    <h3 style="color:white"> Busca los parques que hay a tu alrededor</h3>

    <form name="buscador">
        <div>
            <input type="number" class="form-control sandpit_search" style="width:70%" placeholder="Busca parques en un ratio a tu alrededor (Kilometros)" id="distance" ng-model="formData.distance"
                required>
            <button type="submit" class="btn sandpit_search_btn "  ng-click="querySandpits()">Busca parques</button>
        </div>
    </form>
    <div ng-show="queryCount>0" class="panel-footer">
        <p class="text-center">We Found {{queryCount}} SandPits.</p>
    </div>

    <div id="map" style="width:95vw; height:77vh" class="col-md-offset-0"></div>

</div>

<!-- ///////////////////////////////////////////////////////////////////////////////////Modal button Register-->
<div class="modal fade" id="myModalRegister" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-header" style="background: gray; color: white; padding: 2%">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4><span class="glyphicon glyphicon-lock"></span> Register</h4>
                </div>
            </div>
            <div class="modal-body">
                <br>
                <form name="myFormRegister" role="form">
                    <div class="form-group" style="text-align: left">
                        <label><span class="glyphicon glyphicon-user"></span> Name</label>
                        <input type="text" class="form-control" name="nombre" ng-model="newUser.fullName" placeholder="Enter your name" required>
                    </div>
                    <div class="form-group" style="text-align: left">
                        <label><span class="glyphicon glyphicon-envelope"></span> Email</label>
                        <input type="email" class="form-control" name="usuario" ng-model="newUser.email" placeholder="Enter email" required>
                    </div>
                    <div class="form-group" style="text-align: left">
                        <label><span class="glyphicon glyphicon-eye-open"></span> Password</label>
                        <input type="password" class="form-control" name="password" ng-model="newUser.password" placeholder="Enter password" required>
                        <input type="password" class="form-control" name="password" ng-model="pass2" placeholder="Repeat password" required>
                    </div>
                    <button type="submit" ng-click="createUser()" class="button_accept_modal" data-dismiss="modal"><span class="glyphicon glyphicon-ok"></span> Done</button>
                    <button type="submit" class="button_cancel_modal" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                </form>
            </div>
            <div class="modal-footer">
                <p style="margin-bottom: 0px">Already a member? <a type="submit" data-dismiss="modal" data-toggle="modal" data-target="#myModalLogin"> Login</a></p>
            </div>
        </div>

    </div>
</div>


<!--////////////////////////////////////////////////////////////////////////////////////Modal button login-->
<!-- Modal -->
<div class="modal fade" id="myModalLogin" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="background: gray; color: white; padding: 2%">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4><span class="glyphicon glyphicon-lock"></span> Login</h4>
            </div>
            <div class="modal-body">
                <br>
                <form role="form">
                    <div class="form-group" style="text-align: left">
                        <label><span class="glyphicon glyphicon-user"></span> Username</label>
                        <input type="email" class="form-control" name="usuario" ng-model="login.email" placeholder="Enter email" required>

                    </div>
                    <div class="form-group" style="text-align: left">
                        <label><span class="glyphicon glyphicon-eye-open"></span> Password</label>
                        <input type="password" class="form-control" name="password" ng-model="login.pwd" placeholder="Enter password" required>

                    </div>
                    <button type="submit" ng-click="localLogin()" class="button_accept_modal"><span class="glyphicon glyphicon-log-in"></span> Login</button>
                    <button type="submit" class="button_cancel_modal" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                </form>
            </div>
            <div class="modal-footer">
                <p style="margin-bottom: 0px">Alternative login</p>
                <h1 style="margin-top: 0px;">
                <a class="icon-fdc-facebook" href="auth/facebook"  target="_blank" data-clicktrack="true" ng-click="loginFacebook()" ></a>
                <a class="icon-fdc-twitter" href="auth/twitter" target="_blank" data-clicktrack="true" ng-click="loginTwitter()"></a>
                <a class="icon-fdc-google" href="https://plus.google.com/" target="_blank" data-clicktrack="true"></a>
                </h1>
                <p style="margin-bottom: 0px">Not a member? <a type="submit" data-dismiss="modal" data-toggle="modal" data-target="#myModalRegister"> Sign Up</a></p>
            </div>
        </div>

    </div>
</div>