<div class="container">
    <div class="header">
        <h3 class="text">Localización de Parques</h3>
    </div>
    <!-- Map and Side Panel -->
    <h2 style="color:white"> Dinos dónde estan tus parques favoritos</h2>
    <br>
    <div class="row content">
        <!-- Google Map -->
        <div class="col-md-7">
            <div id="map" class="my_map"></div>
        </div>
        <!-- Side Panel -->
        <div class="own_row">
            <div class="panel panel-default">
                <!-- Panel Title -->
                <div class="panel-heading">
                    <h2 class="panel-title text-center">Registra un parque que conozcas! <span class="glyphicon glyphicon-map-marker"></span></h2>
                </div>
                <!-- Panel Body -->
                <div class="panel-body">
                    <!-- Creates Form (novalidate disables HTML validation, Angular will control) -->
                    <form name ="addForm" novalidate>
                        <!-- Text Boxes and Other User Inputs. Note ng-model binds the values to Angular $scope -->
                        <div class="form-group">
                            <label for="name">Nombre del Parque <span class="badge">Rellena todos los campos</span></label>
                            <input type="text" class="form-control" id="name" placeholder="Nombre..." ng-model="formData.name" required>
                        </div>

                        <div class="form-group">
                            <label for="description">Descripción del parque</label>
                            <input type="text" class="form-control" id="description" placeholder="Descripción..." ng-model="formData.description" required>
                        </div>


                        <div class="demo-section k-content">
                            <label for="facilities">Instalaciones deportivas del parque <span class="badge">Campo de fútbol, Pista de voleibol...</span></label>
                            <input  kendo-auto-complete ng-model="input" k-data-source="sport_facilities"/>
                            <button  class="w3-btn-floating-large w3-teal" ng-click="addFacilitie()" ng-disabled="!input"  >+</button>
                            <p class="demo-hint">Instalaciones seleccionadas: </p>
                            <ul>
                                <li ng-repeat="x in items">{{x}}</li>
                            </ul>
                        </div>


                        <div class="form-group">
                            <label for="price">Precio de entrada (€)</label>
                            <input type="number" class="form-control" id="price" placeholder="0" ng-model="formData.price" required>
                        </div>

                        <button type="submit" class="btn btn-danger btn-block" ng-click="createSandpit()" ng-disabled="addForm.$invalid">Enviar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
